.armor-base .file-input-wrapper
.armor-base-file-input-wrapper
  overflow hidden
  position relative

.armor-base .file-input
.armor-base-file-input
  bottom 0
  display block
  left 0
  opacity 0
  padding-left 200%
  position absolute
  right 0
  top 0
  width 100%
