.button
  background-color #f5f5f5
  background-image -moz-linear-gradient(top, #ffffff, #e6e6e6)
  background-image -ms-linear-gradient(top, #ffffff, #e6e6e6)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
  background-image -webkit-linear-gradient(top, #ffffff, #e6e6e6)
  background-image -o-linear-gradient(top, #ffffff, #e6e6e6)
  background-image linear-gradient(top, #ffffff, #e6e6e6)
  background-repeat repeat-x
  border-bottom-color #bbb
  border-color #e6e6e6 #e6e6e6 #bfbfbf
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  border-radius .4em
  box-shadow inset 0 .1em 0 rgba(255, 255, 255, 0.2), 0 .1em .2em rgba(0, 0, 0, 0.05)
  color #333
  cursor pointer
  display inline-block
  font-size 1.5em
  rhythm-border 1px solid #ccc .5
  rhythm-padding .5
  rhythm-margin-vertical .5
  text-align center
  text-decoration none
  text-shadow 0 .1em .1em rgba(255, 255, 255, 0.75)
  vertical-align middle

.button:hover,
.button:active,
.button-active,
.button-disabled,
.button[disabled]
  background-color #e6e6e6

.button:active,
.button-active
  background-color #ccc\9

.button:first-child
  *margin-left 0

.button:hover
  color #333
  background-color #e6e6e6
  background-position 0 -1.5em
  transition background-position 0.1s linear
  text-decoration none

.button:focus
  outline thin dotted #333
  outline .5rm auto -webkit-focus-ring-color
  outline-offset -.2em

.button-active,
.button:active
  background-image none
  box-shadow inset 0 .2em .4em rgba(0, 0, 0, 0.15), 0 .1em .2em rgba(0, 0, 0, 0.05)
  background-color #e6e6e6
  background-color #d9d9d9\9
  outline 0

.button-disabled,
.button[disabled]
  cursor default
  background-image none
  background-color #e6e6e6
  opacity 0.65
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none

.button-size-large
  padding .9em 1.4em
  font-size 1.5em
  line-height normal
  -webkit-border-radius .5em
  -moz-border-radius .5em
  border-radius .5em

.button-size-large [class^="icon-"]
  margin-top .1em

.button-size-very-large
  padding 1.6em 2.1em
  font-size 2.0em
  line-height normal
  -webkit-border-radius .6em
  -moz-border-radius .6em
  border-radius .6em

.button-size-very-large [class^="icon-"]
  margin-top .2em

.button-size-small
  padding .5em .9em
  font-size 1.1em
  line-height 1.6em

.button-size-small [class^="icon-"]
  margin-top -.1em

.button-mini
  padding .2em .6em
  font-size 1.1em
  line-height 1.4em

.button-primary,
.button-primary:hover,
.button-warning,
.button-warning:hover,
.button-danger,
.button-danger:hover,
.button-success,
.button-success:hover,
.button-info,
.button-info:hover,
.button-inverse,
.button-inverse:hover
  color #fff
  text-shadow 0 -.1em 0 rgba(0, 0, 0, 0.25)

.button-primary.button-active,
.button-warning.button-active,
.button-danger.button-active,
.button-success.button-active,
.button-info.button-active,
.button-dark.button-active
  color rgba(255, 255, 255, 0.75)

.button-primary
  background-color #0074cc
  background-image -moz-linear-gradient(top, #08c, #05c)
  background-image -ms-linear-gradient(top, #08c, #05c)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c))
  background-image -webkit-linear-gradient(top, #08c, #05c)
  background-image -o-linear-gradient(top, #08c, #05c)
  background-image linear-gradient(top, #08c, #05c)
  background-repeat repeat-x
  border-color #05c #05c #16506a
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-primary:hover,
.button-primary:active,
.button-primary.button-active,
.button-primary.disabled,
.button-primary[disabled]
  background-color #05c

.button-primary:active,
.button-primary.button-active
  background-color #1b607f\9

.button-warning
  background-color #171717
  background-image -moz-linear-gradient(top, #262626, #000000)
  background-image -ms-linear-gradient(top, #262626, #000000)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#262626), to(#000000))
  background-image -webkit-linear-gradient(top, #262626, #000000)
  background-image -o-linear-gradient(top, #262626, #000000)
  background-image linear-gradient(top, #262626, #000000)
  background-repeat repeat-x
  border-color #000000 #000000 #000000
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-warning:hover,
.button-warning:active,
.button-warning.button-active,
.button-warning.disabled,
.button-warning[disabled]
  background-color #000000

.button-warning:active,
.button-warning.button-active
  background-color #000000 \9

.button-danger
  background-color #da4f49
  background-image -moz-linear-gradient(top, #ee5f5b, #bd362f)
  background-image -ms-linear-gradient(top, #ee5f5b, #bd362f)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f))
  background-image -webkit-linear-gradient(top, #ee5f5b, #bd362f)
  background-image -o-linear-gradient(top, #ee5f5b, #bd362f)
  background-image linear-gradient(top, #ee5f5b, #bd362f)
  background-repeat repeat-x
  border-color #bd362f #bd362f #802420
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-danger:hover,
.button-danger:active,
.button-danger.button-active,
.button-danger.disabled,
.button-danger[disabled]
  background-color #bd362f

.button-danger:active,
.button-danger.button-active
  background-color #942a25 \9

.button-success
  background-color #5bb75b
  background-image -moz-linear-gradient(top, #62c462, #51a351)
  background-image -ms-linear-gradient(top, #62c462, #51a351)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351))
  background-image -webkit-linear-gradient(top, #62c462, #51a351)
  background-image -o-linear-gradient(top, #62c462, #51a351)
  background-image linear-gradient(top, #62c462, #51a351)
  background-repeat repeat-x
  border-color #51a351 #51a351 #387038
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-success:hover,
.button-success:active,
.button-success.button-active,
.button-success.disabled,
.button-success[disabled]
  background-color #51a351

.button-success:active,
.button-success.button-active
  background-color #408140 \9

.button-info
  background-color #49afcd
  background-image -moz-linear-gradient(top, #5bc0de, #2f96b4)
  background-image -ms-linear-gradient(top, #5bc0de, #2f96b4)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4))
  background-image -webkit-linear-gradient(top, #5bc0de, #2f96b4)
  background-image -o-linear-gradient(top, #5bc0de, #2f96b4)
  background-image linear-gradient(top, #5bc0de, #2f96b4)
  background-repeat repeat-x
  border-color #2f96b4 #2f96b4 #1f6377
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-info:hover,
.button-info:active,
.button-info.button-active,
.button-info.disabled,
.button-info[disabled]
  background-color #2f96b4

.button-info:active,
.button-info.button-active
  background-color #24748c \9

.button-inverse
  background-color #393939
  background-image -moz-linear-gradient(top, #454545, #262626)
  background-image -ms-linear-gradient(top, #454545, #262626)
  background-image -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626))
  background-image -webkit-linear-gradient(top, #454545, #262626)
  background-image -o-linear-gradient(top, #454545, #262626)
  background-image linear-gradient(top, #454545, #262626)
  background-repeat repeat-x
  border-color #262626 #262626 #000000
  border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)

.button-inverse:hover,
.button-inverse:active,
.button-inverse.button-active,
.button-inverse.disabled,
.button-inverse[disabled]
  background-color #262626

.button-inverse:active,
.button-inverse.button-active
  background-color #0c0c0c \9

button.button,
input[type="submit"].button
  *padding-top .2em
  *padding-bottom .2em

button.button-moz-:focus-inner,
input[type="submit"].button-moz-:focus-inner
  padding 0
  border 0

button.button.large,
input[type="submit"].button.large
  *padding-top .7em
  *padding-bottom .7em

button.button.small,
input[type="submit"].button.small
  *padding-top .3em
  *padding-bottom .3em