.panel
  border 1px solid #eee
  rhythm-margin-vertical 2
  padding 2em

.panel > *:first-child
  margin-top 0

.panel > *:last-child
  margin-bottom 0

.panel-rounded
  border-radius 3px

.panel-shaded
  background #f2f2f2
  border-color #e6e6e6