.armor-base .media
.armor-base-media
  align-items flex-start
  display flex

.armor-base .media-center
.armor-base-media-center
  align-items center

.armor-base .media-image
.armor-base-media-image
  display block

.armor-base .media-body
.armor-base-media-body
  display block
  flex 1
