.armor-base .line-clamp
.armor-base-line-clamp
  display table !important
  table-layout fixed
  width 100%

.armor-base .line-clamp-text
.armor-base-line-clamp-text
  display table-cell !important
  overflow hidden
  white-space nowrap