.armor-blrrtstrap .alert
  background-color rgba(#000, 0.8)
  display flex
  left 0
  padding 0.25rem 1rem
  right 0
  transition opacity 0.2s, transform 0.2s
  z-index 20

.armor-blrrtstrap .alert--hidden.alert--fixed
  transform translateY(-100%)

.armor-blrrtstrap .alert--hidden:not(.alert--fixed)
  opacity 0

.armor-blrrtstrap .alert--fixed
  position fixed
  top 0
  &.alert--under--ios-status-bar
    top 2rem
  &.alert--under--navbar
    top 4rem
  &.alert--under--ios-status-bar.alert--under--navbar
    top 6rem

.armor-blrrtstrap .alert__text
  color #fff
  display flex
  flex 1
  font-size 1.4rem
  line-height 2rem

.armor-blrrtstrap .alert__text--align--right
  justify-content flex-end

.armor-blrrtstrap .alert__link
  cursor pointer
  display inline

.armor-blrrtstrap .alert__link--disabled
  color #666
