@keyframes animation--visibility--in
  0%
    opacity 0
  100%
    opacity 1

.armor-blrrtstrap .animation--visibility--in
.armor-blrrtstrap .animation--visibility--out
  animation-duration 0.4s
  animation-fill-mode both
  animation-name animation--visibility--in

.armor-blrrtstrap .animation--visibility--out
  animation-direction reverse
