avatar-size(n)
  width n * 1rem
  height n * 1rem

.armor-blrrtstrap .avatar
  avatar-size 4
  border-radius 50%
  display inline-block
  overflow hidden
  transition opacity 0.2s, filter 0.3s
  vertical-align middle

for size in (small 3) (large 5)
  .armor-blrrtstrap .avatar--size--{size[0]}
    avatar-size size[1]

.armor-blrrtstrap .avatar__image
  display inline-block
  height 100%
  position relative
  width 100%

.armor-blrrtstrap .avatar--loading
  filter grayscale(0) saturate(0)
  opacity 0

.armor-blrrtstrap .avatar__image--default
  visibility hidden
