size(n)
  border-radius n * 0.5rem
  width n * 1rem
  height n * 1rem

.armor-blrrtstrap .avatar
  display inline-block
  overflow hidden
  size 4
  vertical-align middle

.armor-blrrtstrap .avatar--size--small
  size 3

.armor-blrrtstrap .avatar__image
  display inline-block
  height 100%
  position relative
  transform-origin top left
  transition opacity 0.2s, filter 0.3s
  width 100%

.armor-blrrtstrap .avatar__image--loading
  filter grayscale(0) saturate(0)
  opacity 0
