.armor-blrrtstrap .background
.armor-blrrtstrap-background
  background-attachment fixed
  background-position center
  background-size cover
  bottom 0
  display block
  left 0
  position fixed
  right 0
  top 0
