.armor-blrrtstrap .background
.armor-blrrtstrap .background__image
.armor-blrrtstrap .background__overlay
  bottom 0
  display block
  left 0
  position absolute
  right 0
  top 0

.armor-blrrtstrap .background--fixed
  position fixed

.armor-blrrtstrap .background__image
  background-attachment fixed
  background-repeat no-repeat
  background-size cover

.armor-blrrtstrap .background__overlay--show--true
  background-color rgba(#000, 0.8);
