.armor-blrrtstrap .badge
  background-color #f00
  border-radius 1rem
  display inline-block
  padding-left 0.6rem
  padding-right 0.6rem

.armor-blrrtstrap .badge__text
  color #fff
  display inline-block
  font-size 1.4rem
  line-height 2rem
  min-height 2rem
  min-width 0.8rem
  position relative
  text-align center
  top 1px

@keyframes badge--animate-in
  0%
    transform scale(1)
  50%
    transform scale(2)
  100%
    transform scale(1)

@keyframes badge--animate-out
  from
    transform scale(1)
  to
    transform scale(0)

.armor-blrrtstrap .badge--animate-in
  animation-duration 0.4s
  animation-fill-mode both
  animation-name badge--animate-in

.armor-blrrtstrap .badge--animate-out
  animation-duration 0.4s
  animation-fill-mode both
  animation-name badge--animate-out
