html
body
  font-size 10px
  height 100%
  overflow-scrolling touch
  -webkit-overflow-scrolling touch
  overflow-x hidden /* swap with off-canvas in wkwebview */
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-touch-callout none
  user-select none
  width 100%

.armor-blrrtstrap .base
  background-color #eee
  display flex
  font-family sans-serif
  overflow-y auto

  &.cordova--yes.os--name--ios
    padding-top 2rem

    &::before
      background-color #eee
      content ''
      display block
      height 2rem
      left 0
      position fixed
      right 0
      top 0
      z-index 210

.armor-blrrtstrap .base.cordova--yes
  overflow hidden

.armor-blrrtstrap .base--background
  background-attachment fixed
  background-size cover

  &.cordova--yes.os--name--ios::before
    background-color #222

.armor-blrrtstrap .base--background--overlay::after
  background-color rgba(#000, 0.8)
  bottom -5rem
  content ''
  display block
  left 0
  position fixed
  right 0
  top 0

.armor-blrrtstrap .cordova--yes.os--name--ios .base--background--overlay::after
  top 2rem
