html
body
  font-size 10px
  height 100%
  overflow-scrolling touch
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-touch-callout none
  user-select none
  width 100%

.armor-blrrtstrap .base
  background-color #eee
  display flex
  font-family sans-serif
  overflow-y auto
  transition background-color 0.2s

.armor-blrrtstrap .base--status-bar--ios
  padding-top 2rem
  &::before
    background-color #eee
    content ''
    display block
    height 2rem
    left 0
    position fixed
    right 0
    top 0
    transition background-color 0.2s
    z-index 210

.armor-blrrtstrap .base.cordova--yes
  overflow hidden

.armor-blrrtstrap .base--background
  background-attachment fixed
  background-color #222
  background-repeat no-repeat
  background-size cover
  &.base--status-bar--ios::before
    background-color #222

.armor-blrrtstrap .base--background.base--status-bar--ios
  background-position 50% 2rem
