.armor-blrrtstrap .bullet-list
  display block

.armor-blrrtstrap .bullet-list__item
  display list-item
  font-size 1.4rem
  line-height 2rem
  list-style-type disc

.armor-blrrtstrap .bullet-list__item--size--large
  color #666
  font-size 1.6rem
  line-height 2rem
