.armor-blrrtstrap .button-group
  display flex

.armor-blrrtstrap .button-group__main
  display block
  flex 1

.armor-blrrtstrap .button-group__main:last-child
  text-align right

.armor-blrrtstrap .button-group__main:first-child
  text-align left
