.armor-blrrtstrap .button-group
.armor-blrrtstrap-button-group
  display flex

.armor-blrrtstrap .button-group-main
.armor-blrrtstrap-button-group-main
  display block
  flex 1

.armor-blrrtstrap .button-group-main:last-child
.armor-blrrtstrap-button-group-main:last-child
  text-align right

.armor-blrrtstrap .button-group-main:first-child
.armor-blrrtstrap-button-group-main:first-child
  text-align left

.armor-blrrtstrap .button-group-addon
.armor-blrrtstrap-button-group-addon
  display block
