.armor-blrrtstrap .button
  background-color rgba(#000, 0.6)
  border-color transparent
  border-style dashed
  border-width 0.2rem
  color #fff
  cursor pointer
  display inline-block
  font-size 1.6rem
  line-height 2.5rem
  min-width 3.5rem
  padding 0.4rem 1rem 0.2rem
  position relative
  text-align center
  transition background-color 0.2s, border-color 0.2s, color 0.2s
  z-index 1
  &:hover:not(:disabled):not(.disabled)
    background-color rgba(#000, 0.8)
  &.disabled
  &:disabled
    cursor default
    color rgba(#fff, 0.5)

.armor-blrrtstrap .button--dropzone--dragging
.armor-blrrtstrap .button--dropzone--dragover
  border-color #fff

.armor-blrrtstrap .button--dropzone--dragover
  background-color rgba(#000, 0.8)

.armor-blrrtstrap .button--size--x-small
  font-size 1.3rem
  line-height 1.5rem
  padding-left 0.5rem
  padding-right 0.5rem

.armor-blrrtstrap .button--size--large
  font-size 1.6rem
  line-height 4rem
  min-width 5rem
  padding-left 1.8rem
  padding-right 1.8rem

.armor-blrrtstrap .button__text
  display inline

.armor-blrrtstrap .button__text--muted
  color rgba(#fff, 0.5)
