.armor-blrrtstrap .checkbox
.armor-blrrtstrap-checkbox
  cursor pointer
  display flex
  font-size 1.4rem
  line-height 2rem
  width 100%

.armor-blrrtstrap .checkbox-button
.armor-blrrtstrap-checkbox-button
  -moz-appearance checkbox
  -webkit-appearance checkbox
  display inline
  margin-right 1rem
  position relative
  top 0.4rem

.armor-blrrtstrap .checkbox-text
.armor-blrrtstrap-checkbox-text
  display inline
  color #999
  flex 1
