.armor-blrrtstrap .code-tab
  border-bottom-color #eee
  border-bottom-style solid
  border-bottom-width 0.2rem
  padding-left 0.5rem
  padding-right 0.6rem
  margin-left -0.3rem;
  margin-right -0.3rem;
