@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)

.align-left
  text-align left

.align-right
  text-align right

.block
  display block

.capitalize
  text-transform capitalize

.clearfix::after
  clear both
  content ''
  display table

.center
  text-align center
  vertical-align middle

.center
.center-x
  text-align center

.center
.center-y
  vertical-align middle

.clickable
  cursor pointer

.clip
  overflow hidden

.clip-x
  overflow-x hidden

.clip-y
  overflow-y hidden

.draggable
  cursor move

.expand
  height 100%
  width 100%

.expand-x
  width 100%

.expand-y
  height 100%

.fixed
  position fixed

.hidden
  display none
  visibility hidden

.inline
  display inline

.invisible
  visibility hidden

.ir
  border 0
  color transparent
  font 0/0 a
  text-shadow none

.lowercase
  text-transform lowercase

.pinned
  position absolute

.fixed.bottom
.pinned.bottom
  bottom 0

.fixed.left
.pinned.left
  left 0

.fixed.right
.pinned.right
  right 0

.fixed.top
.pinned.top
  top 0

.pull-left
  float left

.pull-right
  float right

.relative
  position relative

.rotate-45
  transform rotate(45deg)

.rotate-90
  transform rotate(90deg)

.rotate-135
  transform rotate(135deg)

.rotate-180
  transform rotate(180deg)

.rotate-225
  transform rotate(225deg)

.rotate-270
  transform rotate(270deg)

.rotate-315
  transform rotate(315deg)

.screen-reader
  border 0
  click rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.screen-reader:focusable:active
.screen-reader:focusable:focus
  clip auto
  height auto
  margin auto
  overflow visible
  position static
  width auto

.scroll
  overflow scroll

.scroll-x
  overflow-x scroll

.scroll-y
  overflow-y scroll

.spin-right
.spin-left
  -moz-animation spin 2s infinite linear
  -o-animation spin 2s infinite linear
  -webkit-animation spin 2s infinite linear
  animation spin 2s infinite linear

.spin-left
  animation-direction reverse

.visible
  visibility visible
