.armor-blrrtstrap .dropout
  position relative

.armor-blrrtstrap .dropout-menu
  display block
  left 0
  overflow hidden
  position absolute
  right 0
  z-index 100

for dir in up right down left
  .armor-blrrtstrap .dropout-menu-direction-{dir}
    dir = bottom if dir == up
    dir = left if dir == right
    dir = top if dir == down
    dir = right if dir == left
    {dir} 100%
    &:not(.active) > .dropout-menu-items
    &:not(.active) > .armor-blrrtstrap-dropout-menu-items
      margin-{dir} -100%

.armor-blrrtstrap .dropout-menu-items
  background-color rgba(#000, .6)
  display block
  padding 8px
  transition all .2s

.armor-blrrtstrap .dropout-menu-item
  display inline-block
  margin-right 16px
