@import '../../armory-base-file-input'

.armor-blrrtstrap .file-input-wrapper
.armor-blrrtstrap-file-input-wrapper
  @extend .armor-base-file-input-wrapper

.armor-blrrtstrap .file-input
.armor-blrrtstrap-file-input
  @extend .armor-base-file-input
  cursor pointer
