.armor-blrrtstrap .floating-button
  background-color rgba(#000, 0.8)
  color #fff
  display flex
  min-height 4.5rem
  position relative
  &::after
    border-color transparent
    border-style dashed
    border-width 0.2rem
    bottom 0
    content ''
    display block
    left 0
    pointer-events none
    position absolute
    right 0
    top 0
    transition border-color 0.2s

.armor-blrrtstrap .floating-button--dropzone--dragover
  background-color rgba(#000, 0.95)

.armor-blrrtstrap .floating-button--dropzone--dragging::after
.armor-blrrtstrap .floating-button--dropzone--dragover::after
  border-color #fff

.armor-blrrtstrap .floating-button__button
  align-items center
  cursor pointer
  display flex
  justify-content center
  line-height 3.5rem
  overflow hidden
  padding 0.6rem 1.5rem 0.4rem
  transition background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s
  &:last-child
    justify-content flex-end
  &:first-child
    justify-content flex-start
  &:hover
    background-color rgba(#000, 0.5)

.armor-blrrtstrap .floating-button__button:disabled
.armor-blrrtstrap .floating-button__button--disabled
  cursor default
  opacity 0.6
  &:hover
    background-color transparent

.armor-blrrtstrap .floating-button__button--primary
  flex-basis 0
  flex-grow 1

.armor-blrrtstrap .floating-button__button__icon
  display inline-block
  font-size 1.8rem
  line-height 1
  position relative
  text-align center

.armor-blrrtstrap .floating-button__button__icon--with-text
  padding-left 1rem
  padding-right 1.5rem
  right 0.5rem
  width 0

.armor-blrrtstrap .floating-button__button__text
  display inline
  font-size 1.6rem
  line-height 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.armor-blrrtstrap .floating-button__button__text--muted
  color rgba(#fff, 0.5)
