@import 'nib'

.armor-blrrtstrap .form
.armor-blrrtstrap-form
  display block
  max-width 39rem

.armor-blrrtstrap .form-controls
.armor-blrrtstrap-form-controls
  clearfix()
  display block

.armor-blrrtstrap .form-control
.armor-blrrtstrap-form-control
  display block

.armor-blrrtstrap .form-control + .form-control
.armor-blrrtstrap-form-control + .armor-blrrtstrap-form-control
  margin-top 2rem

.armor-blrrtstrap .form-label
.armor-blrrtstrap-form-label
  color #666
  display block
  font-size 1.4rem
  line-height 2.5rem
