.armor-blrrtstrap .form
.armor-blrrtstrap-form
  display block
  width 39rem

.armor-blrrtstrap .form-controls
.armor-blrrtstrap-form-controls
  display block
  margin-bottom -2rem
  min-height 2rem

.armor-blrrtstrap .form-control
.armor-blrrtstrap .form-control
  display block
  margin-bottom 2rem

.armor-blrrtstrap .form-label
.armor-blrrtstrap-form-label
  display block
