.armor-blrrtstrap .grid
  display flex
  flex-wrap wrap

.armor-blrrtstrap .grid--center
  justify-content center

.armor-blrrtstrap .grid--align--baseline
  align-items baseline

.armor-blrrtstrap .grid--justify--space-around
  justify-content space-around

.armor-blrrtstrap .grid__cell
  display block
  flex-grow 1

.armor-blrrtstrap
  for i in 1..12
    & .grid__cell--size--{i}
      flex-basis (100 * i / 12) %
      flex-grow 0
      max-width i * 6rem
      width 100%
    for device in (tablet 48em) (desktop 62em) (widescreen 75em)
      & .grid__cell--device--{device}--size--{i}
        flex-basis auto
        max-width i * 6rem
        width 100%
        @media (min-width: device[1])
          flex-grow 0
          flex-basis (100 * i / 12) %
