.armor-blrrtstrap .hero
  display block
  text-align center

.armor-blrrtstrap .hero__icon
.armor-blrrtstrap .hero__text
.armor-blrrtstrap .hero__action
  display block

.armor-blrrtstrap .hero__icon
  color: #666;
  font-size: 14rem;
  line-height: 15rem;

.armor-blrrtstrap .hero__text
  color #666
  font-size 2rem
  line-height 2.5rem
  margin-bottom 2rem
