.armor-blrrtstrap .icon-bar
.armor-blrrtstrap-icon-bar
  background-color rgba(#000, .65)
  display block
  height 6.5rem
  overflow hidden
  text-align center

.armor-blrrtstrap .icon-bar-items
.armor-blrrtstrap-icon-bar-items
  display inline-block
  position relative
  transition all .2s
  vertical-align middle
  &::before
    background-color rgba(#fff, .5)
    content ''
    display inline-block
    height 1.2rem
    position absolute
    top 2.8rem
    transition all .2s
    width .1rem
  &:first-child::before
    display none
  &.bottom
  &.top
    display block
    &::before
      display none
  &.close.top
    transform translateY(-100%)
  &.open.bottom
    transform translateY(-100%)

.armor-blrrtstrap .icon-bar-item
.armor-blrrtstrap-icon-bar-item
  display inline-block

.armor-blrrtstrap .icon-bar-target
.armor-blrrtstrap-icon-bar-target
  color rgba(#fff, .5)
  cursor pointer
  display block
  min-width 13rem
  padding 1rem 2rem
  text-align center
  transition all .2s
  &.active
    color #fff
  &:hover
    background-color rgba(#fff, .2)

.armor-blrrtstrap .icon-bar-target-icon
.armor-blrrtstrap-icon-bar-target-icon
  display block
  font-size 2.6rem
  line-height 3rem

.armor-blrrtstrap .icon-bar-target-text
.armor-blrrtstrap-icon-bar-target-text
  display block
  font-size 1.2rem
  line-height 1.5rem
