.armor-blrrtstrap .indicator
  background-color #0ca5ff
  border-radius 1rem
  display inline-block
  height 1rem
  left 1rem
  position absolute
  top 1rem
  transition all 0.2s
  width 1rem
  &.hidden
    opacity 0
