.armor-blrrtstrap .indicator
.armor-blrrtstrap-indicator
  color #0CA5FF
  display inline-block
  font-size 1.2rem
  line-height 1.5rem
  left 1rem
  position absolute
  top 1.5rem
  transition all .2s

.armor-blrrtstrap .indicator-hidden
.armor-blrrtstrap-indicator-hidden
  opacity 0
