.armor-blrrtstrap .input-box
.armor-blrrtstrap-input-box
  background-color #fff
  border .1rem solid #e5e5e5
  display block
  padding .9rem
  position relative
  z-index 10

.armor-blrrtstrap .input-box-label
.armor-blrrtstrap-input-box-label
  color darken(#ccc, 15)
  cursor pointer
  display block
  font-size 1.4rem
  line-height 2rem

.armor-blrrtstrap .input-box-status-error
.armor-blrrtstrap-input-box-status-error
  border-color #f1cbc4

.armor-blrrtstrap .input-box-status-success
.armor-blrrtstrap-input-box-status-success
  border-color #c4e5ce
