.armor-blrrtstrap .input-group
  display table

.armor-blrrtstrap .input-group-input
  display table-cell
  width 100%

.armor-blrrtstrap .input-group-addon
  display table-cell
  vertical-align middle
  white-space nowrap
  width 1%
