@import '../bower_components/armory-base-line-clamp'

.armor-blrrtstrap .line-clamp
.armor-blrrtstrap-line-clamp
  @extend .armor-base-line-clamp

.armor-blrrtstrap .line-clamp-text
.armor-blrrtstrap-line-clamp-text
  @extend .armor-base-line-clamp-text
  text-overflow ellipsis
