.armor-blrrtstrap .link-container
.armor-blrrtstrap .link
  cursor pointer
  display inline

.armor-blrrtstrap .link-container:hover .link
.armor-blrrtstrap .link:hover
  border-bottom-color #333

.armor-blrrtstrap .link
  border-bottom 1px dashed #ccc
  transition-property border-bottom-color, opacity
  transition-duration 0.2s

.armor-blrrtstrap .link-container.disabled
  cursor default

.armor-blrrtstrap .link-container.disabled .link
.armor-blrrtstrap .link.disabled
  border-bottom none
  cursor default
  opacity 0.5
