.armor-blrrtstrap .link-container
.armor-blrrtstrap-link-container
.armor-blrrtstrap .link
.armor-blrrtstrap-link
  cursor pointer
  display inline

.armor-blrrtstrap .link-container:hover .link
.armor-blrrtstrap-link-container:hover .link
.armor-blrrtstrap .link:hover
.armor-blrrtstrap-link:hover
  border-bottom-color #333

.armor-blrrtstrap .link
.armor-blrrtstrap-link
  border-bottom 1px dashed #ccc
  transition all .2s

.armor-blrrtstrap .link-disabled
.armor-blrrtstrap-link-disabled
  border-bottom 1px dashed #eee
  cursor default
