@keyframes list__items--animate-in
  0%
    opacity 0
    transform scale3d(0.3, 0.3, 0.3)
  50%
    opacity 1

@keyframes list__items--animate-out
  0%
    opacity 1
  100%
    opacity 0

.armor-blrrtstrap .list
  display flex
  flex-direction column
  width 100%

.armor-blrrtstrap .list__items
  display block
  position relative

.armor-blrrtstrap .list__items__item
  display block

.armor-blrrtstrap .list__items__item__target
  color #fff
  display block
  font-size 1.6rem
  line-height 2rem
  overflow hidden
  padding 1rem
  text-overflow ellipsis
  transition background-color 0.2s
  white-space nowrap
  width 100%

.armor-blrrtstrap .list__items__item__target--clickable
  cursor pointer

.armor-blrrtstrap .list__items__item__target--clickable:hover
.armor-blrrtstrap .list__items__item__target--focused
  background-color #eee

.armor-blrrtstrap .list__items__item__target--active
  background-color #ddd

.armor-blrrtstrap .list__items__item__target--active.list__items__item__target--focused
  background-color #ccc

.armor-blrrtstrap .list__items__item__target--inverted.list__items__item__target--clickable:hover
.armor-blrrtstrap .list__items__item__target--inverted.list__items__item__target--focused
  background-color rgba(#fff, 0.1)

.armor-blrrtstrap .list__items__item__target--inverted.list__items__item__target--active
  background-color #f30

.armor-blrrtstrap .list__items__item__target--inverted.list__items__item__target--active.list__items__item__target--focused
  background-color darken(#f30, 15)

.armor-blrrtstrap .list__items__item__target:disabled
.armor-blrrtstrap .list__items__item__target--disabled
  cursor default
  opacity 0.5

.armor-blrrtstrap .list__items__item__target--size--small
  font-size 1.4rem
  min-height 3.5rem
  padding-bottom 0.5rem
  padding-top 0.5rem

.armor-blrrtstrap .list__items__item--separated
  box-shadow 0 1px 2px rgba(#000, 0.25)

.armor-blrrtstrap .list__items__item + .list__items__item--separated
.armor-blrrtstrap .list__items__item--separated + .list__items__item
  margin-top 1rem

.armor-blrrtstrap .list__items--animate-in
.armor-blrrtstrap .list__items--animate-out
  animation-duration 0.2s
  animation-fill-mode both

.armor-blrrtstrap .list__items--animate-in
  animation-name list__items--animate-in

.armor-blrrtstrap .list__items--animate-out
  animation-name list__items--animate-out
