.armor-blrrtstrap .logo
  display inline-flex
  filter drop-shadow(0 .1rem .1rem rgba(#000, .5))
  position relative
  transition -webkit-filter 0.2s, filter 0.2s
  &::before
    bottom -0.2rem
    content ''
    display block
    height 0.2rem
    left 0
    position absolute
    right 0

.armor-blrrtstrap .logo--clickable:hover
  cursor pointer
  filter drop-shadow(0 .2rem .2rem rgba(#000, 0.6))

.armor-blrrtstrap .logo--menu
  margin-left -1.4rem

.armor-blrrtstrap .logo--overhang
  margin-bottom -1rem

.armor-blrrtstrap .logo__addon
.armor-blrrtstrap .logo__main
  background-image linear-gradient(#e74224, #e42301)
  display inline-block

.armor-blrrtstrap .logo__addon
  clip-path polygon(0 0, 100% 0, 100% 100%, 2% 100%)
  color #fff
  font-size 1.4rem
  height 4rem
  line-height 4rem
  padding-left 0.5rem
  text-align center
  width 2rem

.armor-blrrtstrap .logo__main
  padding-bottom 1.5rem
  padding-top 0.5rem
  &:last-child
    clip-path polygon(0 0, 100% 0, 98% 4rem, 1.7rem 4rem, 1rem 100%, 0.7rem 4rem, 0 4rem)
    padding-right 0.5rem
    @media (min-width: 48em)
      clip-path polygon(0 0, 100% 0, 98% 4rem, 4.2rem 4rem, 3.5rem 100%, 3.2rem 4rem, 0 4rem)
  &:first-child
    padding-left 0.5rem
  &:first-child:last-child
    clip-path polygon(0 0, 100% 0, 98% 4rem, 1.7rem 4rem, 1rem 100%, 0.7rem 4rem, 2% 4rem)
    @media (min-width: 48em)
      clip-path polygon(0 0, 100% 0, 98% 4rem, 4.2rem 4rem, 3.5rem 100%, 3.2rem 4rem, 2% 4rem)

.armor-blrrtstrap .logo__main__image
  background-position 50%
  background-repeat no-repeat
  color transparent
  display inline-block
