.armor-blrrtstrap .logo
  background-repeat no-repeat
  color transparent
  display inline-block
  filter drop-shadow(0 .1rem .1rem rgba(#000, .5))
  font-size 0
  height 5rem
  transition -webkit-filter 0.2s, filter 0.2s

.armor-blrrtstrap .logo--clickable:hover
  cursor pointer
  filter drop-shadow(0 .2rem .2rem rgba(#000, 0.6))

.armor-blrrtstrap .logo--overhang
  margin-bottom -1rem
