.armor-blrrtstrap .masthead
  align-items center
  bottom 0
  display flex
  flex-direction column
  justify-content center
  left 0
  position absolute
  right 0
  top 0

.armor-blrrtstrap .masthead-item
  display block
