.armor-blrrtstrap .media
  align-items flex-start
  display flex

.armor-blrrtstrap .media--align--center
  align-items center

.armor-blrrtstrap .media__body
  display block
  flex 1

.armor-blrrtstrap .media__image
  display block
  margin-right 1rem
