@import '../bower_components/armory-base-media'

.armor-blrrtstrap .media
.armor-blrrtstrap-media
  @extend .armor-base-media

.armor-blrrtstrap .media-center
.armor-blrrtstrap-media-center
  @extend .armor-base-media-center

.armor-blrrtstrap .media-body
.armor-blrrtstrap-media-body
  @extend .armor-base-media-body

.armor-blrrtstrap .media-image
.armor-blrrtstrap-media-image
  @extend .armor-base-media-image
  margin-right 1rem
