.armor-blrrtstrap .monospace
  display inline

.armor-blrrtstrap .monospace__character
  display inline-block
  text-align center

for digit in (0..9)
  .armor-blrrtstrap .monospace__character--{digit}
    width 0.6em
