.armor-blrrtstrap .navbar
  background-color #fff
  box-shadow 0 1px 2px rgba(#000, .15)
  display flex
  height 4rem
  line-height 0
  padding-left 1rem
  padding-right 1rem
  position relative
  transform translate3d(0, 0, 0)
  transition transform 0.2s
  width 100%
  z-index 30
  @media (min-width: 62em)
    padding-left 2rem
    padding-right 2rem

.armor-blrrtstrap .navbar--fixed
  position fixed

.armor-blrrtstrap .navbar--fixed-content
  padding-top 4rem

.armor-blrrtstrap .navbar--unpinned
  transform translate3d(0, -125%, 0)

.armor-blrrtstrap .navbar__items
  display flex
  align-items center
  align-self center
  flex-grow 1
  height inherit
  justify-content center
  margin-right -1rem
  min-width 1rem
  width 0

.armor-blrrtstrap .navbar__items__item
  display block
  margin-right 1rem

.armor-blrrtstrap .navbar__items:first-child
  align-self flex-start
  justify-content flex-start

.armor-blrrtstrap .navbar__items:last-child
  align-self flex-end
  justify-content flex-end
