.armor-blrrtstrap .off-canvas-container--open
  overflow hidden

.armor-blrrtstrap .off-canvas
  display flex
  flex 1
  flex-direction column
  overflow-x hidden

.armor-blrrtstrap .off-canvas__content
  display flex
  flex 1
  flex-direction row
  position relative
  z-index 200

.armor-blrrtstrap .off-canvas__column
  background-color #fff
  bottom 0
  display block
  overflow-y auto
  position absolute
  top 0
  transition-property transform
  transition-duration 0.15s
  z-index 210

.armor-blrrtstrap .off-canvas__column--fixed
  position fixed

.armor-blrrtstrap .off-canvas__column--direction--left
  left 0
  right 15%

.armor-blrrtstrap .off-canvas__column--direction--left.off-canvas__column--closed
  transform translateX(-100%)

.armor-blrrtstrap .off-canvas__column--direction--right
  right 0
  left 15%

.armor-blrrtstrap .off-canvas__column--direction--right.off-canvas__column--closed
  transform translateX(100%)
