.armor-blrrtstrap .off-canvas
  bottom 0
  display flex
  flex 1
  flex-direction column
  left 0
  overflow-x hidden
  position absolute
  right 0
  top 0

.armor-blrrtstrap .off-canvas__content
  display flex
  flex 1
  flex-direction row
  position relative
  transition transform 0.2s
  width 100%
  z-index 200

.armor-blrrtstrap .off-canvas__content--closed.off-canvas__content--direction--left
  transform translateX(85%)

.armor-blrrtstrap .off-canvas__content--closed.off-canvas__content--direction--right
  transform translateX(-85%)

.armor-blrrtstrap .off-canvas__column
  background-color #fff
  bottom 0
  display block
  position absolute
  top 0
  transition transform 0.2s
  z-index 100

.armor-blrrtstrap .off-canvas__column--direction--left
  left 0
  right 15%

.armor-blrrtstrap .off-canvas__column--direction--left.off-canvas__column--closed
  transform translateX(-100%)

.armor-blrrtstrap .off-canvas__column--direction--right
  right 0
  left 15%

.armor-blrrtstrap .off-canvas__column--direction--right.off-canvas__column--closed
  transform translateX(100%)
