.armor-blrrtstrap .placeholder-text
  background-image linear-gradient(#000, #000)
  background-position center
  background-repeat no-repeat
  background-size 100% 1.2rem
  display block
  height 2rem
  opacity 0.02
  width 100%
