@keyframes pointer-blink
  from
    opacity 0
  to
    opacity 1

.armor-blrrtstrap .pointer
.armor-blrrtstrap-pointer
  animation-direction alternate
  animation-duration 1s
  animation-name pointer-blink
  animation-iteration-count infinite
  cursor pointer
  display block
  height 180px
  margin-left -62px
  margin-top -90px
  left 50%
  position absolute
  top 50%
  width 125px
  & *
    display block
