@keyframes progress-bar__cursor
  0%
    transform translateX(-5%)
  70%
    transform translateX(122.5%)
  70.01%
    transform translateX(-30%)
  100%
    transform translateX(100%)

@keyframes progress-bar__cursor__head
  0%
    transform scaleX(1)
  70%
    transform scaleX(10)
  100%
    transform scalex(1)

.armor-blrrtstrap .progress-bar
  display block
  height 0.3rem
  padding-bottom 0.1rem
  padding-top 0.1rem
  position relative
  width 100%

.armor-blrrtstrap .progress-bar--fixed
  left 0
  padding-bottom 0
  padding-top 0
  position fixed
  right 0
  z-index 1010

.armor-blrrtstrap .progress-bar__cursor
  bottom 0
  display block
  left 0
  position absolute
  right 0
  top 0
  transform translateX(-5%)
  &::after
    background-color #f30
    bottom 0
    content ''
    display block
    position absolute
    top 0
    width 5%

.armor-blrrtstrap .progress-bar__cursor
.armor-blrrtstrap .progress-bar__cursor::after
  animation-delay 0.5s
  animation-duration 3.5s
  animation-iteration-count infinite
  animation-timing-function linear

.armor-blrrtstrap .progress-bar__cursor--direction--reverse
  animation-direction reverse

.armor-blrrtstrap .progress-bar__cursor--active
  animation-name progress-bar__cursor
  &:after
    animation-name progress-bar__cursor__head
