.armor-blrrtstrap .radio-button
  cursor pointer
  display flex
  font-size 1.4rem
  line-height 2rem
  width 100%

.armor-blrrtstrap .radio-button__button
  -moz-appearance radio
  -webkit-appearance radio
  display inline
  margin-right 1rem
  position relative
  top 0.2rem

.armor-blrrtstrap .radio-button__text
  display inline
  color #999
  flex 1
