$background-color-dark = #f5f5f5
$background-color-light = #cfedff
$font-color-dark = #333
$font-color-highlight = #3fb8ff
$font-color-light = #ccc
$font-size-multiplier = (11/10)
$font-size-very-large = 2.6em
$font-size-large = 1.8em
$font-size-medium = 1.2em
$font-size-small = 1.1em
$link-color = #3fb8ff
$link-font-weight = bold
$logo-size-medium = 7.2em
$logo-size-large = 18em
$margin-medium = 1em
$margin-extemely-large = 8 * $margin-medium
$margin-very-large = 4 * $margin-medium
$margin-large = 2 * $margin-medium
$margin-small = $margin-medium / 2
$margin-very-small = $margin-medium / 4
$scrollbar-background-color = $font-color-light
$scrollbar-color = $font-color-dark