.armor-blrrtstrap .slider
  display flex
  height 2rem
  padding-bottom .2rem
  padding-top .2rem

.armor-blrrtstrap .slider__input
  appearance slider-horizontal
  -webkit-appearance slider-horizontal
  display inline-block
  flex 1

.armor-blrrtstrap .slider__addon
  display inline-block

.armor-blrrtstrap .slider__addon + .slider__input
.armor-blrrtstrap .slider__input + .slider__addon
  margin-left .5rem

for length in (x-small 4rem) (small 8rem) (medium 12rem) (large 16rem) (x-large 20rem)
  .armor-blrrtstrap .slider--length--{length[0]}
    width length[1]
