.armor-blrrtstrap .soundwave
.armor-blrrtstrap-soundwave
  display flex

.armor-blrrtstrap .soundwave-track
.armor-blrrtstrap-soundwave-track
  appearance none
  background-origin: content-box
  cursor pointer
  display inline-block
  flex 1
  height 1.5rem
  padding-bottom .7rem
  padding-top .5rem

.armor-blrrtstrap .soundwave-track::-webkit-progress-bar
.armor-blrrtstrap-soundwave-track::-webkit-progress-bar
  background-color #eee

.armor-blrrtstrap .soundwave-track::-webkit-progress-value
.armor-blrrtstrap-soundwave-track::-webkit-progress-value
  background-color #666

.armor-blrrtstrap .soundwave-time
.armor-blrrtstrap-soundwave-time
  color #999
  display inline-block
  font-size 1.2rem
  line-height 1.5rem
  position relative

.armor-blrrtstrap .soundwave-time + .soundwave-track
.armor-blrrtstrap-soundwave-time + .armor-blrrtstrap-soundwave-track
  margin-left 1rem

.armor-blrrtstrap .soundwave-track + .soundwave-time
.armor-blrrtstrap-soundwave-track + .armor-blrrtstrap-soundwave-time
  margin-left 1rem

.armor-blrrtstrap .soundwave-inverted .soundwave-track::-webkit-progress-bar
.armor-blrrtstrap-soundwave-inverted .armor-blrrtstrap-soundwave-track::-webkit-progress-bar
  background-color #fff

.armor-blrrtstrap .soundwave-inverted .soundwave-track::-webkit-progress-value
.armor-blrrtstrap-soundwave-inverted .armor-blrrtstrap-soundwave-track::-webkit-progress-value
  background-color #c30

.armor-blrrtstrap .soundwave-inverted .soundwave-time
.armor-blrrtstrap-soundwave-inverted .armor-blrrtstrap-soundwave-time
  color #fff

.armor-blrrtstrap .soundwave-size-large .soundwave-track
.armor-blrrtstrap-soundwave-size-large .armor-blrrtstrap-soundwave-track
  height 1rem
  padding-bottom 0.3rem
  padding-top 0.3rem

.armor-blrrtstrap .soundwave-size-large .soundwave-time
.armor-blrrtstrap-soundwave-size-large .armor-blrrtstrap-soundwave-time
  font-size 1.6rem
  line-height 2rem
