@import '../../armory-base-stack'

.armor-blrrtstrap .stack
.armor-blrrtstrap-stack
  @extend .armor-base-stack

.armor-blrrtstrap .stack-items
.armor-blrrtstrap-stack-items
  @extend .armor-base-stack-items

.armor-blrrtstrap .stack-item
.armor-blrrtstrap-stack-item
  @extend .armor-base-stack-item
