.armor-blrrtstrap .text
  color #666
  display inline
  font-size 1.4rem
  line-height 2rem

.armor-blrrtstrap .text-attention
.armor-blrrtstrap .text-important
  font-weight bolder

.armor-blrrtstrap .text-deleted
  text-decoration line-through

.armor-blrrtstrap .text--highlight
  text-decoration underline

.armor-blrrtstrap .text-color-dark
  color #333

.armor-blrrtstrap .text-color-light
  color #999

.armor-blrrtstrap .text-inner-spacing-large
  line-height 2

.armor-blrrtstrap .text-alt
  font-style italic

.armor-blrrtstrap .text-inverted
  color #fff

.armor-blrrtstrap .text-preformatted
  white-space pre

.armor-blrrtstrap .text-shadow-light
  text-shadow 1px 1px 0 #fff

for size in (x-small 1rem 1.5rem) (small 1.2rem 1.5rem) (medium 1.4rem 2rem) (large 1.6rem 2rem) (x-large 2rem 2.5rem)
  .armor-blrrtstrap .text-size-{size[0]}
    font-size size[1]
    line-height size[2]

.armor-blrrtstrap .text-spacing-large
  line-height 30px

.armor-blrrtstrap .text-spacing-small
  line-height 15px

.armor-blrrtstrap .text-status-error
  color #df2000

.armor-blrrtstrap .text-status-success
  color #01a533
