.armor-blrrtstrap .text-list
  color #666
  display block
  font-size 1.4rem
  line-height 2rem

.armor-blrrtstrap .text-list--size--large
  font-size 1.6rem
  line-height 2rem

.armor-blrrtstrap .text-list--style--bulleted
  list-style-type disc
  padding-left 2rem

.armor-blrrtstrap .text-list__item
  display list-item
  list-style-type inherit
