.armor-blrrtstrap .tile
  align-items center
  display flex
  padding 1rem

.armor-blrrtstrap .tile__primary
  display block
  margin-right 1rem

.armor-blrrtstrap .tile__content
  display block
  flex 1

.armor-blrrtstrap .tile__secondary
  display block
  margin-left 1rem
