.armor-blrrtstrap .title
.armor-blrrtstrap-title
  background rgba(#000, .65)
  color #fff
  display block
  font-size 2.2rem
  line-height 3rem
  padding .5rem 1.5rem
  position relative
  text-align center
  &::after
    border-left .5rem solid transparent
    border-right .5rem solid transparent
    border-top 1rem solid rgba(#000, .65)
    bottom -1rem
    content ''
    display block
    height 0
    left 50%
    margin-left -.5rem
    position absolute
    width 0
