.armor-blrrtstrap .toolbar
.armor-blrrtstrap-toolbar
  display flex

.armor-blrrtstrap .toolbar-section
.armor-blrrtstrap-toolbar-section
  display flex
  justify-content center
  margin-left -1.5rem
  margin-right -1.5rem

.armor-blrrtstrap .toolbar-section-main
.armor-blrrtstrap-toolbar-section-main
  flex 1

.armor-blrrtstrap .toolbar-icon
.armor-blrrtstrap-toolbar-icon
  align-items center
  color #333
  cursor pointer
  display flex
  font-size 1.4rem
  height 2.5rem
  justify-content center
  margin-left 1.5rem
  margin-right 1.5rem
  transition all .2s
  width 2.5rem
  &.disabled
    cursor default
  &:hover
    color #666

.armor-blrrtstrap .toolbar-icon-size-large
.armor-blrrtstrap-toolbar-icon-size-large
  font-size 1.8rem
