.armor-blrrtstrap .userphoto-mosaic
.armor-blrrtstrap-userphoto-mosaic
  display inline-block
  height 5rem
  overflow hidden
  position relative
  vertical-align middle
  width @height

for size in (x-small 3rem) (small 4rem) (medium 5rem) (large 6rem) (x-large 7rem)
  .armor-blrrtstrap .userphoto-mosaic-size-{size}
  .armor-blrrtstrap-userphoto-mosaic-size-{size}
    height size[1]
    width size[1]

.armor-blrrtstrap .userphoto-mosaic .userphoto
.armor-blrrtstrap-userphoto-mosaic .userphoto
  &:nth-child(1):nth-last-child(2) // 1 of 2
    width 50%
  &:nth-child(2):nth-last-child(1) // 2 of 2
    width 50%
