.armor-blrrtstrap .userphoto
.armor-blrrtstrap-userphoto
  display inline-block
  height 5rem
  line-height @height
  overflow hidden
  position relative
  text-align center
  vertical-align middle
  width @height

.armor-blrrtstrap .userphoto-blank::before
.armor-blrrtstrap-userphoto-blank::before
  background-color transparent
  color transparent

.armor-blrrtstrap .userphoto-clickable
.armor-blrrtstrap-userphoto-clickable
  cursor pointer
  &::after
    background #333
    opacity 0
    position relative
    transition all .3s
  &:hover::after
    opacity .2

.armor-blrrtstrap .userphoto-image
.armor-blrrtstrap-userphoto-image
.armor-blrrtstrap .userphoto-image-blank
.armor-blrrtstrap-userphoto-image-blank
  absolute top left
  bottom 0
  display block
  height 5rem
  right 0
  transition all 0.2s
  width @height

.armor-blrrtstrap .userphoto-image-blank
.armor-blrrtstrap-userphoto-image-blank
  background-size cover
  &::before
    background-color #ccc
    bottom 0
    color #fff
    content 'n_n'
    display block
    font-size 2.1rem
    font-weight bold
    left 0
    position absolute
    right 0
    top 0
  
.armor-blrrtstrap .userphoto-image[src=""]
.armor-blrrtstrap-userphoto-image[src=""]
.armor-blrrtstrap .userphoto-loading .userphoto-image
.armor-blrrtstrap-userphoto-loading.armor-blrrtstrap-userphoto-image
.armor-blrrtstrap .userphoto-loading .userphoto-image-blank
.armor-blrrtstrap-userphoto-loading.armor-blrrtstrap-userphoto-image-blank
  opacity 0

for size in (x-small 3rem) (small 4rem) (medium 5rem) (large 6rem) (x-large 7rem)
  .armor-blrrtstrap .userphoto-size-{size}
  .armor-blrrtstrap-userphoto-size-{size}
    font-size .42 * size[1]
    height size[1]
    line-height size[1]
    width size[1]

  .armor-blrrtstrap .userphoto-size-{size} .userphoto-image
  .armor-blrrtstrap-userphoto-size-{size} .armor-blrrtstrap-userphoto-image
  .armor-blrrtstrap .userphoto-size-{size} .userphoto-image-blank
  .armor-blrrtstrap-userphoto-size-{size} .armor-blrrtstrap-userphoto-blank
    height size[1]
    width @height
