.heading
  color $font-color-dark
  font-size $font-size-very-large
  font-weight bold
  rhythm-margin-vertical 1

.heading-rank-2
  font-size $font-size-large
  rhythm-margin-vertical .5

.heading-rank-3
  font-size $font-size-medium

.heading-rank-4
  font-size $font-size-small