.link-container
  text-decoration none

.link-container:hover > .link,
.link:hover
  text-decoration underline

.link
  color $link-color
  font-weight $link-font-weight
  text-decoration none

.link:hover
  text-decoration underline