.alert
  padding 8px 35px 8px 14px
  text-shadow 0 1px 0 rgba(255, 255, 255, 0.5)
  background-color #fef5b2
  border 1px solid #fee4a3
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px

.alert-non-closable
  padding 8px 10px

.alert,
.alert-heading
  color #5f5c27

.alert .close
  position relative
  top -2px
  right -21px
  line-height 18px

.alert-success
  background-color #abe789
  border-color #aee274

.alert-success,
.alert-success .alert-heading
  color #387218

.alert-danger,
.alert-error
  background-color #fadfdd
  border-color #f8d0d4

.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading
  color #df382c

.alert-info
  background-color #c9f4f3
  border-color #acede1

.alert-info,
.alert-info .alert-heading
  color #187371

.alert-block
  padding-top 14px
  padding-bottom 14px

.alert-block > p,
.alert-block > ul
  margin-bottom 0

.alert-block p + p
  margin-top 5px