.logo
  color $font-color-dark
  font-family sans-serif
  font-weight bold
  text-decoration none
  text-rendering optimizeLegibility
  text-transform lowercase
  margin 0 0 0 -0.04em
  padding 0

.logo-prefix,
.logo-text
  display inline-block
  position relative

.logo-prefix
  color $font-color-light
  letter-spacing -.05em

.logo-text:after,
.logo-prefix:after
    content '.'
    position absolute

a.logo:hover
  text-decoration none

.logo,
.logo-size-medium
  font-size $logo-size-medium

.logo-size-large
  font-size $logo-size-large