.image-block-image
  float left
  height 3em
  width 3em

.image-block-size-large > .image-block-image
  height 6em
  width 6em

.image-block-body
  display block
  i18n-padding-left 4em

.image-block-body-center
  padding-top .7em  

.image-block-size-large > .image-block-body
  padding-left 7em