.scrollable-window
  overflow auto

.scrollable-window-webkit-scrollbar
  width .6rem

.scrollable-window-webkit-scrollbar-track
  background $scrollbar-background-color

.scrollable-window-webkit-scrollbar-trackwindow-in:active
  background lighten($scrollbar-background-color, 50%)

.scrollable-window-webkit-scrollbar-thumb
  background $scrollbar-color

.scrollable-window-webkit-scrollbar-thumbwindow-in:active
  background lighten($scrollbar-color, 50%)