.settings
  margin 0

.settings-name
  margin-top $margin-large

.settings-name:first-child
  margin-top 0

.settings-name:after
  content ''

.settings-value
  margin $margin-small 0 0 0