.heading > .textbox
  font-weight bold

.textbox
  box-sizing border-box
  color $font-color-dark
  font-size $font-size-medium
  rhythm-border 1px dashed $font-color-light .75
  transition border 0.6s

.textbox[readonly]
  color $font-color-light

.textbox:focus
  border-color $link-color
  outline none

.textbox-webkit-input-placeholder,
.textbox-moz-placeholder
  color $font-color-light

.textbox-expand
  width 100%

.textbox-size-large
  font-size $font-size-large

.compound-textbox
  clearfix()
  margin-left 1px

.compound-textbox > *
  float left
  margin-left -1px

.compound-textbox > *:first-child
  border-bottom-right-radius 0
  border-top-right-radius 0

.compound-textbox > *:last-child
  border-bottom-left-radius 0
  border-top-left-radius 0