@import 'nib'

.armor-base .stack
.armor-base-stack
.armor-base .stack-items
.armor-base-stack-items
.armor-base .stack-item
.armor-base-stack-item
  display block

.armor-base .stack-item
.armor-base-stack-item
  clearfix()