.dropdown-menu:hover
  display block

.dropdown-menu-items
  background-clip padding-box
  background-color #fff
  border 1px solid rgba(0, 0, 0, 0.2)
  box-shadow 0 .5em 1em rgba(0, 0, 0, 0.2)
  display none
  float left
  list-style none
  min-width 1.6em
  margin 0
  padding 0
  position absolute
  z-index 100

.dropdown-menu-direction-bottom-left > .dropdown-menu-items
  right 1em

.dropdown-menu-direction-bottom-right > .dropdown-menu-items
  left 1em

.dropdown-menu-item-section-break
  border-top 1px solid #e5e5e5

.dropdown-menu-target
  clear both
  color $font-color-dark
  display block
  font-size $font-size-medium
  font-weight bold
  rhythm-padding .125 .5
  text-decoration none
  white-space nowrap

.dropdown-menu-target:hover,
.dropdown-menu-target:focus
  background-color $background-color-light
  background-repeat repeat-x
  color $link-color
  outline 0
  text-decoration none

.dropdown-menu-item-disabled > .dropdown-menu-target,
.dropdown-menu-target-disabled
  background-color transparent
  color $font-color-light
  cursor default