.dropdown-toggle
  display inline-block

.dropdown-toggle-link
  color $font-color-light
  text-shadow 1px 1px 0 #fff

.dropdown-toggle-link:hover
  color darken($font-color-light, 20%)

.dropdown-toggle-link-inverse
  color $font-color-dark

.dropdown-toggle-link-inverse:hover
  color lighten($font-color-dark, 20%)