.navigation-pull-right > .navigation-list-items
  float right

.navigation-list-items
  margin 0
  margin-right -($margin-medium)
  min-width $margin-medium
  overflow hidden
  padding 0

.navigation-list-spacing-large .navigation-list-items
  margin-right -($margin-large)
  min-width $margin-large

.navigation-list-spacing-small .navigation-list-items
  margin-right -($margin-small)
  min-width $margin-small

.navigation-list-item
  float left
  font-size $font-size-medium
  margin-right $margin-medium

.navigation-list-size-large .navigation-list-item
  font-size $font-size-large

.navigation-list-size-small .navigation-list-item
  font-size $font-size-small

.navigation-list-spacing-large .navigation-list-item
  margin-right $margin-large

.navigation-list-spacing-small .navigation-list-item
  margin-right $margin-small