.object
  clearfix()

.object-outline
  rhythm-border 1px dashed $font-color-light .5

.object-shaded
  background $background-color-dark
  rhythm-padding .5

.object-callout
  background $background-color-light

.object-properties
  list-style-type none
  margin 0
  padding 0