.object-list-items
  clearfix()
  list-style none
  margin 0 0 -1em 0
  min-height 1em
  padding 0

.object-list-shaded > .object-list-items,
.object-list-items-shaded
  margin-bottom -1px
  min-height 1px

.object-list-item
  rhythm-margin-bottom 1

.object-list-collapse
  min-width rhythmLength(1)
  rhythm-margin-left -1

.object-list-collapse > .object-list-items > .object-list-item,
.object-list-item-collapse
  float left
  rhythm-margin-left 1

.object-list-shaded > .object-list-items > .object-list-item,
.object-list-shaded-item
  margin-bottom 1px